<div class="static-job">
  <div class="static-job__header"></div>
  <div class="static-job__filter-container" *ngIf="filterData.length != 0">
    <div class="static-job__filter-container--filter" *ngFor="let element of filterData">
      <span>{{ element }}</span>
      <div class="close" (click)="remove(element)">
        <img src="assets/images/icon-remove.svg">
      </div>
    </div>
  </div>
  <div class="static-job__content">
    <div class="static-job__content--card" *ngFor="let job of filteredJobs">
      <div class="line" [ngClass]="{'active': job.featured == true}"></div>
      <div class="image">
        <img [src]="'assets' + job.logo">
      </div>
      <div class="column">
        <div class="column__row">
          <span class="column__row--company">{{ job.company }}</span>
          <div class="column__row--new" *ngIf="job.new == true">
            <span>NEW!</span>
          </div>
          <div class="column__row--featured" *ngIf="job.featured == true">
            <span>FEATURED</span>
          </div>
        </div>
        <div class="column__row">
          <span class="column__row--position">{{ job.position }}</span>
          <div class="column__row--attribute" (click)="filter(job.role)">
            <span>{{ job.role }}</span>
          </div>
          <div class="column__row--attribute" (click)="filter(job.level)">
            <span>{{ job.level }}</span>
          </div>
          <div class="column__row--attribute" *ngFor="let language of job.languages" (click)="filter(language)">
            <span>{{ language }}</span>
          </div>
          <div class="column__row--attribute" *ngFor="let tool of job.tools" (click)="filter(tool)">
            <span>{{ tool }}</span>
          </div>
        </div>
        <div class="column__row">
          <span class="column__row--bottom">{{ job.postedAt }}</span>
          <div class="column__row--dot"></div>
          <span class="column__row--bottom">{{ job.contract }}</span>
          <div class="column__row--dot"></div>
          <span class="column__row--bottom">{{ job.location }}</span>
        </div>
      </div>
    </div>
  </div>
</div>